<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Cities Quiz</title>
	<script src="/js/lib/angular/angular.min.js"></script>
	<script src='/js/lib/lodash/dist/lodash.min.js'></script>
	<script src='/js/lib/angular-google-maps/dist/angular-google-maps.js'></script>	

	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>

	<link rel="stylesheet" href="/js/lib/bootstrap/dist/css/bootstrap.min.css">

	<!-- ANGULAR -->
	<script src="/js/main.js"></script> 
	<!-- END ANGULAR -->

	<style type="text/css">

		h1{
			text-align: center;
			font-size: 30px;
		}

		html, body, .container-fluid{
		   height:100%;
		}	

		button{
			width: 100%;
		}	

		p{
			font-size: 20px;
			color: #aaaaaa;
		}

		p span{
			color: #333333;
		}

		.instructions{
			font-size: 15px;
			color: #dddddd;
		}

		.green{
			color: #5cb85c !important;
			font-weight: bold;

		}

		.red{
			color: red !important;
			font-weight: bold;
		}

		.marker-class{
			font-size: 15px;
			font-weight: bold;
		}

		.angular-google-map-container { height: 450px; }

		@media (max-width: 600px) {
		  .angular-google-map-container { height: 320px; }

			h1{
				font-size: 20px;
			}		  
		}		
	</style>

</head>
<body>
<div ng-app="citiesQuizApp">
<div ng-controller="citiesQuizMainController"  >	

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>CITIES QUIZ</h1> 
			</div>
		</div>
		<div class="row" style="height:100%;">
			<div class="col-md-4">
				<div ng-show="loaded">
					<p><span>{{ citiesPlaced }}</span> cities placed .</p>
					<p><span>{{ kmLeft }}</span> kilometers left.</p>
					<div ng-show="noNext">
						<p><i>Select the location of<i>... <span>{{ cities[actualCitieIndexToSearch].capitalCity }}</span></p>
					</div>
					<div class="form-group">
						<button class="btn btn-success" ng-show="noNext" ng-disabled="noCheck" ng-click="check()">Check!</button>
					</div>								
					<div ng-hide="noNext">
						<p ng-class="{green: placed, red: !placed}"> {{ distanceMsg }} </p>
					</div>				
					<div class="form-group">
						<button class="btn btn-primary" ng-hide="noNext" ng-click="next()">Next city ( {{ actualCitieIndexToSearch + 1 }} / {{ cities.length }} )</button>
					</div>								
				</div>
				<div ng-hide="loaded">
					LOADING...
				</div>
			</div>
			<div class="col-md-8">
				<p class="instructions" ng-show="loaded">Click on the map to add a marker</p>
				<ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" options="map.options">
					<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        			</ui-gmap-marker>
					<ui-gmap-marker coords="markerCitie.coords" options="markerCitie.options" events="markerCitie.events" idkey="markerCitie.id">
        			</ui-gmap-marker>        			
				</ui-gmap-google-map>
			</div>
		</div>
	</div>

    <script type="text/ng-template" id="endGame.html">
        <div class="modal-header">
            <h3 class="modal-title">Your results:</h3>
        </div>
        <div class="modal-body">
            <p>{{ cities }} cities placed.</p>
            <p>{{ km }} kilometers left.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">PLAY AGAIN</button>
        </div>
    </script>


</div>



</div>
</body>
</html>